@import "../../miscelaneous/variables/twitter_colors.scss";
#sidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;

  height: 100vh;
  padding-inline: 1.25rem;
  padding-top: 1.5rem;

  color: $text-priority-1;

  * {
    font-size: 1.25rem;
    font-weight: 700;
  }

  menu {
    display: flex;
    flex-direction: column;

    gap: 32px;

    li {
      display: flex;
      align-items: center;
      gap: 20px;

      &:first-child {
        color: $primary-blue;
      }
    }
  }

  //tweet button
  button {
    background-color: $primary-blue;

    border: none;
    border-radius: 9999px;

    padding: 16px 24px;

    font-weight: 800;
    color: $text-priority-1;

    cursor: pointer;
  }
}
